header {
	height: $header-height;
	position: relative;

	.LogoWrapper {
		display: inline-block;
		cursor: pointer;
		img {
			display: inline-block;
			margin: 0 20px 0 0;
			vertical-align: middle;
			height: 130px;
		}
	}

	.buttons {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);

		:not(:last-child) {
			margin-right: 8px;
		}
	}
}
