.Menu {
	padding: 15px 20px;
	background-color: $secondary;

	.menu-wrapper {
		max-width: $layout-wrapper-width;
		margin: 0 auto;
		position: relative;

		li {
			display: inline-block;
			vertical-align: middle;
		}
	}

	.menu-items {
		a {
			&.active {
				font-weight: bold;
			}
		}
		li {
			color: white;
			padding: 10px;
			margin-right: 25px;

			&:first-child {
				padding-left: 0;
			}
		}
	}

	.menu-icons {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);

		li {
			margin: 10px;

			&:last-child {
				margin-right: 0;
			}
		}

		img {
			width: 25px;
		}
	}
}
