.PageIntro {
	padding: 40px 0 30px;
	background-color: $grey-light;

	h1 {
		margin-bottom: $default-margin;
		color: $grey-medium;

		&.bold {
			font-weight: bold;
		}
	}

	p {
		color: $grey-medium;
		margin: $default-margin 0;

		& > .Button {
			margin: $default-margin 0;
		}
	}

	ol {
		list-style: decimal;
		padding-left: $default-half-margin;
	}

	&.TwoColumnPageIntro {
		.layout-wrapper {
			display: flex;
			align-items: stretch;

			h1 {
				font-size: 18px;
				font-weight: bold;
				margin: 0;
			}

			p {
				margin: $default-half-margin 0;
			}

			.column {
				width: 50%;
				display: flex;
				align-items: center;
			}
		}
	}
}
