.DashboardPage {
	.dashboard {
		h1 {
			margin: 60px 0 20px;
		}
		> p {
			margin-bottom: 60px;
			font-size: 18px;
			padding-bottom: 10px;
			border-bottom: 2px solid $primary;
		}
	}
	.offers,
	.requests {
		.ExchangeOffers,
		.ExchangeRequests {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}
	}
}
