.DashboardPage {
	.dashboard {
		h1 {
			margin: 60px 0;
		}
	}
	.offers,
	.requests {
		.ExchangeOffers,
		.ExchangeRequests {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}
	}
}
