.HomePage {
	display: flex;
	.column {
		position: relative;
		width: 50%;
		height: 100vh;

		&.info {
			background-color: $grey-light;

			.info-steps {
				margin-top: $header-height;

				h3 {
					font-weight: bold;
					font-size: 18px;
					margin-bottom: $default-margin;
				}
				.intro,
				.step h4 {
					font-size: 16px;
					font-family: $font-header;
				}
				p {
					font-family: $font-header;
				}
				.steps {
					margin-top: 32px;
					.step {
						position: relative;
						padding-left: 64px;
						padding-bottom: 16px;
						.number {
							display: flex;
							position: absolute;
							top: 0;
							left: 0;
							transform: translateY(-25%);
							justify-content: center;
							align-items: center;
							border-radius: 50%;
							width: 30px;
							height: 30px;
							background-color: $primary;
							font-weight: bold;
						}
						p {
							margin-top: $default-half-margin;
						}
						&:not(:last-child) {
							&:before {
								content: "";
								height: 100%;
								width: 1px;
								background-color: $primary;
								position: absolute;
								top: 0;
								left: 15px;
							}
						}
					}
				}
			}
		}

		.layout-wrapper {
			max-width: calc(#{$layout-wrapper-width} / 2);
		}

		.LoginForm {
			box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.05);
			padding: 50px;

			h1 {
				margin-bottom: $default-half-margin;
				line-height: 48px;
			}
			.Button {
				margin-top: $default-margin;
				margin-bottom: $default-half-margin;
			}
			a {
				color: $correct-color;
				font-weight: bold;
				text-decoration: none;
			}
			.success {
				background-color: $correct-color;
				color: white;
				padding: $default-half-margin;
				margin: $default-half-margin 0;
			}
		}
	}
}
