/node_modules
/public/hot
/public/storage
/public/js
/public/css
/public/images
/public/mix-manifest.json
/storage/*.key
/vendor
.env
/resources/js/env.ts
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.DS_Store