.BooleanField {
	display: flex;
	.choice {
		width: 70px;
		height: 42px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		background-color: #f0f0f0;

		&.active {
			color: white;
			&.yes {
				background-color: $correct-color;
			}
			&.no {
				background-color: $danger-color;
			}
		}

		&:first-child {
			margin-right: 15px;
		}

		&:hover {
			background-color: $blue;
			color: white;
		}
	}
}
