.FormFieldWithLabel {
	margin: 20px 0;
	display: inline-block;
	width: calc(33.333% - 40px);

	label {
		padding: 5px 0;
		display: inline-block;
		.required {
			color: $danger-color;
		}
	}

	&.correct {
		label {
			color: $correct-color;
		}
	}

	.field-wrapper {
		margin: 5px 0;
	}

	.error {
		background-color: $danger-color;
		color: $highlight-text-color;
		padding: 10px;
		margin: 5px 0;
	}
}
