.Form {
	position: relative;
	margin: 0 auto;

	.button-wrapper {
		.Button:nth-child(2) {
			margin-left: 20px;
		}
		margin: 0;
	}

	.header {
		padding: 50px 0;
		background-color: $grey-light;

		h1 {
			margin-bottom: $default-margin;
			color: $grey-medium;
		}

		p {
			color: $grey-medium;
		}
	}

	.TotalMatchesFound {
		color: $correct-color;
		text-decoration: underline;
		font-size: 14px;
		font-family: $font-body;
		min-height: 20px;
	}

	.layout-wrapper {
		position: relative;
		.reset-button {
			position: absolute;
			top: 5px;
			right: 0;
			cursor: pointer;

			span,
			img {
				display: inline-block;
				vertical-align: middle;
			}
			span {
				margin-right: 10px;
			}
		}
	}

	form {
		position: relative;
		transition: max-height 0.3s cubic-bezier(0, 0, 0.3, 1);
		max-height: 1000px;
		overflow-y: auto;

		.legend {
			margin-top: $default-half-margin;
			display: block;
		}

		.required {
			color: $danger-color;
		}

		.fields {
			position: relative;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		.Button {
			margin: $default-margin 0;
		}

		.no-matches {
			color: $danger-color;
			margin-left: $default-half-margin;
		}
	}

	&.collapsed {
		form {
			max-height: 0;
			overflow-y: hidden;
		}

		h2 {
			img {
				transform: translateY(-50%) rotate(180deg);
			}
		}
	}

	&.full-width-fields {
		form .fields .FormFieldWithLabel {
			width: 100%;
		}
	}
}
