.FormFieldWithLabel {
	margin: 20px 0;

	label {
		padding: 5px;
		display: inline-block;
		background-color: $primary;
		.required {
			color: $danger-color;
		}
	}

	.field-wrapper {
		margin: 5px 0;
	}

	.error {
		color: $danger-color;
	}
}
