.IconSelectField {
	display: flex;
	justify-content: space-between;

	&.options-2 {
		width: 155px;
	}
	&.options-3 {
		width: 240px;
	}

	.Option {
		background-color: $grey-light;
		padding: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		width: 70px;
		height: 42px;

		&.selected {
			background-color: $correct-color;
			color: white;
		}
	}
}
