$item-height: 42px;
.SelectField {
	min-height: $item-height;
	max-height: $item-height;
	position: relative;
	overflow: hidden;
	transition: max-height 0.35s cubic-bezier(0, 0, 0.3, 1);

	&.active {
		max-height: 1000px;

		.active-option img {
			transform: translateY(-50%) rotate(180deg);
		}
	}

	.active-option {
		position: relative;

		img {
			pointer-events: none;
			width: 13px;
			position: absolute;
			top: 50%;
			right: 15px;
			transform: translateY(-50%);
			transition: transform 0.25s cubic-bezier(0, 0, 0.3, 1);
		}

		&.with-value {
			.SelectOption {
				color: $correct-color;
			}

			&:hover {
				.SelectOption {
					color: $highlight-text-color;
				}
			}
		}
	}

	.SelectOption {
		padding: 15px 50px 15px 15px;
		height: $item-height;
		background-color: $grey-light;
		margin-bottom: 1px;
		position: relative;

		.image-wrapper {
			position: absolute;
			top: 50%;
			right: 20px;
			transform: translateY(-50%);
		}

		&.other {
			padding: 0;
			position: relative;
			input {
				position: absolute;
				top: 0;
				left: 0;
				border: 0;
				border-radius: 0;
				appearance: none;
				width: 100%;
				height: 100%;
			}
			&.active {
				input {
					background-color: $blue;
					color: white;
				}
			}
		}

		&:hover {
			background-color: $blue;
			color: white;
			cursor: pointer;
		}
	}

	.select-wrapper {
		position: relative;
	}

	.dropdown {
		position: relative;
		max-height: 200px;
		overflow-y: auto;
	}
}
