$item-height: 42px;
.SelectField {
	min-height: $item-height;
	max-height: $item-height;
	position: relative;
	overflow: hidden;
	transition: max-height 0.35s cubic-bezier(0, 0, 0.3, 1);

	&.active {
		max-height: 1000px;

		.active-option img {
			transform: translateY(-50%) rotate(180deg);
		}
	}

	.active-option {
		position: relative;

		img {
			pointer-events: none;
			width: 13px;
			position: absolute;
			top: 50%;
			right: 15px;
			transform: translateY(-50%);
			transition: transform 0.25s cubic-bezier(0, 0, 0.3, 1);
		}

		.SelectOption {
			color: $correct-color;
		}
	}

	.SelectOption {
		padding: 15px 50px 15px 15px;
		height: $item-height;
		background-color: $grey-light;
		margin-bottom: 1px;

		&:hover {
			background-color: $blue;
			color: white;
			cursor: pointer;
		}
	}

	.select-wrapper {
		display: inline-block;
		position: relative;
	}

	.dropdown {
		position: relative;
		max-height: 200px;
		overflow-y: auto;
	}
}
