.Match {
	text-align: center;
	margin: 30px 0;
	max-width: $layout-wrapper-width;

	.percentage {
		margin: 4px 0;
	}

	.percentage span {
		font-weight: bold;
	}

	.cards {
		margin-top: 32px;
		box-shadow: 4px 4px 20px -2px rgba(0, 0, 0, 0.05);
		display: flex;

		transition: transform 0.25s cubic-bezier(0, 0, 0.3, 1);
		cursor: pointer;

		&:hover {
			transform: scale(1.05);
		}
	}
}
