.MatchCard {
	text-align: left;
	padding: 32px;
	width: 50%;

	&:nth-child(2) {
		background-color: $grey-light;
	}

	.header {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		.user {
			max-width: calc(100% - 200px);

			img {
				display: inline-block;
				vertical-align: middle;
				max-width: 36px;
			}

			.details {
				margin-left: 16px;
				font-family: $font-header;

				.name {
					font-weight: bold;
				}

				line-height: $default-half-margin;
			}
		}

		.match-label {
			padding: 8px 27px;
			color: white;
			width: 155px;
			text-align: center;

			&.awaiting_approval {
				background-color: $blue;
			}
			&.approved {
				background-color: $correct-color;
			}
			&.declined {
				background-color: $danger-color;
			}
			&.mine {
				background-color: $grey-light;

				&.requests {
					background-color: $request-color;
				}
				&.offers {
					background-color: $offer-color;
				}
			}
		}
	}

	.specs {
		display: flex;
		justify-content: flex-start;
		align-items: stretch;
		flex-wrap: wrap;
		margin-top: 64px;

		.spec {
			width: 33.333%;
			margin-bottom: 24px;
			padding-right: 8px;

			label {
				display: block;
				line-height: 26px;
				font-size: 12px;
			}

			.MatchValue {
				font-family: $font-header;
				line-height: 14px;
				&.correct {
					color: $correct-color;
				}
				&.danger {
					color: $danger-color;
				}
				&.neutral {
					color: $grey-medium !important;
				}
			}
		}
	}
}
