.Match {
	box-shadow: 4px 4px 20px -2px rgba(0, 0, 0, 0.25);
	max-width: $layout-wrapper-width;
	padding: 20px;
	margin: 20px 0;
	
	.messages {
		margin: 10px 0;

		.message {
			display: block;
			padding: 20px 5px 5px;
			margin: 10px 0;
			background-color: $primary;
			color: black;
			position: relative;
			border: 1px solid black;

			.action {
				position: absolute;
				top: 0;
				left: 0;
				padding: 3px 3px 3px 5px;
				background-color: black;
				color: white;
			}

			.admin {
				position: absolute;
				top: 0;
				right: 0;
				padding: 3px 3px 3px 5px;
				background-color: $tertiary;
				color: white;
			}
		}
	}
}

.MatchCards {
	text-align: center;
	max-width: $layout-wrapper-width;

	&:not(:first-child) {
		border-top: 1px solid $grey-light;
	}

	.percentage {
		margin: 4px 0;
	}

	.percentage span {
		font-weight: bold;
		@extend .inline;
	}

	.cards {
		margin-top: 32px;
		box-shadow: 4px 4px 20px -2px rgba(0, 0, 0, 0.05);
		display: flex;

		transition: transform 0.25s cubic-bezier(0, 0, 0.3, 1);
		cursor: pointer;

		&.admin {
			cursor: default;
			&:hover {
				transform: none;
			}
		}

		&:hover {
			transform: scale(1.05);
		}
	}
}
