$chart-offset: 100px;

.Specifications {
	.percentage-wrapper {
		margin: $default-margin 0;
	}

	.back-button {
		margin-top: 50px;

		.inline {
			display: inline-block;
			cursor: pointer;
		}
	}

	h1 {
		margin: 50px 0;
	}
	.body {
		display: flex;
		align-items: stretch;

		.specs {
			width: calc(#{$layout-wrapper-width} - #{$chart-size} - #{$chart-offset});
			display: inline-block;
			vertical-align: top;
			margin-right: $chart-offset;
			position: relative;

			.button-wrapper {
				position: absolute;
				top: 0;
				right: 0;
				margin: -120px 0 0;
				display: flex;
				gap: 10px;

				.Button button {
					padding: 7px 20px;
					font-size: 12px;
				}
			}
		}
	}
}
