.Spec {
	display: flex;
	border-bottom: 1px solid $grey-light;

	&:last-child {
		border-bottom: none;
	}

	.column {
		width: 33.3333%;
		padding: $default-half-margin 0;
		position: relative;
	}

	.SpecMatch {
		&.correct {
			color: $correct-color;
		}
		&.danger {
			color: $danger-color;

			.icon-wrapper img {
				height: 15px;
			}
		}

		.icon-wrapper {
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 30px;
			text-align: center;

			img {
				height: 20px;
			}
		}
	}
}
