$chart-size: 300px;

.Specifications {
	.specs {
		width: calc(#{$layout-wrapper-width} - #{$chart-size} - 100px);
		display: inline-block;
		vertical-align: top;
		margin-right: 100px;
	}

	.percentage-wrapper {
		margin: $default-margin 0;
	}

	h1 {
		margin: 50px 0;
	}
}
