.Button {
	position: relative;

	button {
		cursor: pointer;
		padding: 12px 40px;
		background-color: $purple;
		display: inline-block;
		appearance: none;
		border: 0;
		outline: none;

		&:hover {
			color: $highlight-text-color;
		}
	}

	&.primary {
		button {
			background-color: $primary;

			&:hover {
				background-color: black;
			}
		}
	}

	&.secondary {
		button {
			background-color: $secondary;

			&:hover {
				background-color: $blue;
			}
		}
	}

	&.confirm {
		button {
			background-color: $correct-color;
		}
	}
	&.danger {
		button {
			background-color: $danger-color;
		}
	}
}
