.Button {
	position: relative;

	button {
		padding: 10px;
		color: $highlight-text-color;
		background-color: $purple;
		display: inline-block;
		cursor: pointer;
	}

	&.confirm {
		button {
			background-color: $correct-color;
		}
	}
	&.danger {
		button {
			background-color: $danger-color;
		}
	}
}
