.DisplayedDate {
	span {
		display: inline-block;
		vertical-align: middle;
		margin-right: 1px;
		background-color: #ddd;
		color: $grey-medium;
		padding: 5px;
		text-align: center;
	}
	span:nth-child(1),
	span:nth-child(2) {
		width: 30px;
	}
	span:nth-child(3) {
		width: 50px;
	}
}
