.Percentage {
	&.correct {
		color: $correct-color;

		.bar {
			.completed {
				background-color: $correct-color;
			}
		}
	}
	&.neutral {
		color: $warning-color;

		.bar {
			.completed {
				background-color: $warning-color;
			}
		}
	}
	&.danger {
		color: $danger-color;

		.bar {
			.completed {
				background-color: $danger-color;
			}
		}
	}

	.bar,
	.number {
		display: inline-block;
		vertical-align: middle;
	}
	.number {
		width: 50px;
	}
	.bar {
		width: 50px;
		height: 4px;
		position: relative;
		border-radius: 5px;
		background-color: $grey-light-medium;

		.completed {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			border-radius: 5px;
		}
	}
}
