h1,
h2,
h3,
h4 {
	font-family: $font-header;
}

h1 {
	font-size: 36px;
	font-weight: normal;
}

h2 {
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
}

h3 {
	font-size: 16px;
	font-weight: normal;
}

h4 {
	font-size: 14px;
	font-weight: normal;
}

p {
	font-size: 18px;
	line-height: 20px;
}

select,
input,
textarea {
	font-size: $form-font-size;
	font-family: $font-primary;
}

button {
	font-size: 20px;
	font-family: $font-header;
}

label {
	font-size: 14px;
	font-weight: bold;
	font-family: $font-header;
}
