$yellow: #ffcd00;
$red: #c00936;
$purple: #5a2282;
$blue: #001240;
$black: #000000;
$green: #24a793;
$orange: #f3965e;

$grey-light: #f0f0f0;
$grey-light-medium: #ccc;
$grey-medium: #3b3b3b;

$primary: $yellow;
$secondary: $black;

$highlight-text-color: white;
$correct-color: $green;
$warning-color: $orange;
$danger-color: $red;

$font-header: "Open Sans", sans-serif;
$font-primary: "Merriweather", serif;
$default-font-size: 12px;
$form-font-size: $default-font-size;

$layout-wrapper-width: 1140px;
$default-margin: 32px;
$default-half-margin: calc(#{$default-margin / 2});
