$yellow: #ffcd00;
$red: #c00936;
$purple: #5a2282;
$pink: #aa1555;
$blue: #001240;
$black: #000000;
$green: #24a793;
$orange: #f3965e;
$lightblue: #0096fa;

$request-color: $pink;
$offer-color: $purple;

$grey-light: rgb(229, 229, 229);
$grey-light-medium: #ccc;
$grey-medium: #3b3b3b;

$primary: $yellow;
$secondary: $black;
$tertiary: $purple;

$highlight-text-color: white;
$correct-color: $green;
$warning-color: $orange;
$danger-color: $red;

$font-header: "Merriweather", serif;
$font-body: "Open Sans", sans-serif;
$default-font-size: 12px;
$form-font-size: $default-font-size;

$layout-wrapper-width: 1040px;
$admin-layout-wrapper-width: 1500px;
$default-margin: 32px;
$default-half-margin: calc(#{$default-margin / 2});
$header-height: 290px;
$footer-height: 300px;
$sidebar-width: 130px;
$chart-size: 220px;
