$yellow: #ffcd00;
$red: #c00936;
$purple: #5a2282;
$black: #000000;

$primary: $yellow;
$secondary: $black;

$highlight-text-color: white;
$correct-color: green;
$danger-color: $red;

$font-header: "Open Sans", sans-serif;
$font-primary: "Merriweather", serif;

$layout-wrapper-width: 1200px;
