@import "reset";
@import "variables";
@import "typography";

@import "components/base/Button";
@import "components/base/Loader";
@import "components/base/ErrorNotification";
@import "components/base/Percentage";
@import "components/base/Modal";
@import "components/base/DisplayedDate";

@import "components/layout/Header";
@import "components/layout/Menu";
@import "components/layout/Footer";
@import "components/layout/PageIntro";

@import "components/icons/InfoIcon";

@import "components/forms/Form";
@import "components/forms/FormField";
@import "components/forms/IconSelectField";
@import "components/forms/MultiSelectField";
@import "components/forms/BooleanField";
@import "components/forms/InputField";
@import "components/forms/SelectField";
@import "components/forms/RangeField";
@import "components/forms/ActiveFilters";

@import "components/overviews/Card";
@import "components/overviews/Overview";
@import "components/overviews/OverviewSwitch";
@import "components/overviews/SubMenu";

@import "components/match/Spec";
@import "components/match/Specifications";
@import "components/match/PieChart";
@import "components/match/DataList";
@import "components/match/Match";
@import "components/match/MatchCard";

@import "components/admin/ApproveMatch";
@import "components/admin/Sidebar";

@import "components/dashboard/DashboardStats";

@import "components/excel/UploadButton";

@import "pages/HomePage";
@import "pages/Dashboard";
@import "pages/MyMatches";
@import "pages/SelectMatch";
@import "pages/FAQ";
@import "pages/AboutUs";

@import "elements/table";
@import "elements/lists";

body {
	font-family: $font-body;
	font-size: 12px;
	color: $grey-medium;

	&.block-scroll {
		overflow: hidden;
	}
}

.App {
	margin: 0 auto;
}

.page-wrapper {
	min-height: calc(100vh - #{$header-height} - #{$footer-height});
}
.Admin.App {
	.page-wrapper {
		max-width: $admin-layout-wrapper-width;
		margin: 0 auto;

		display: inline-block;
		vertical-align: top;
		width: calc(100vw - #{$sidebar-width});
		min-height: 100vh;
		padding: 80px 30px 80px 210px;

		.layout-wrapper {
			max-width: $admin-layout-wrapper-width;
		}

		.overview {
			h1 {
				max-width: $admin-layout-wrapper-width;
			}
		}

		table {
			&:not(.not-centered) {
				th:first-child,
				td:first-child {
					padding-left: calc((100vw - #{$admin-layout-wrapper-width}) / 2);
				}
		
				th:last-child,
				td:last-child {
					padding-right: calc((100vw - #{$admin-layout-wrapper-width} - 20px) / 2);
				}
			}
		}
	}
}

.inline {
	display: inline-block;
	vertical-align: middle;
}

.margin-10 {
	margin: 10px 0;
}

.margin-20 {
	margin: 20px 0;
}

.layout-wrapper {
	position: relative;
	max-width: $layout-wrapper-width;
	margin: 0 auto;
}

.button-spacer {
	display: flex;
	justify-content: space-between;
}

.with-black-scrollbar::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: $grey-light;
}

.with-black-scrollbar::-webkit-scrollbar {
	width: 10px;
	background-color: $grey-light;
}

.with-black-scrollbar::-webkit-scrollbar-thumb {
	background-color: black;
}

.success {
	background-color: $correct-color;
	color: white;
	padding: $default-half-margin;
	margin: $default-half-margin 0;
}
