@import "reset";
@import "variables";
@import "typography";
@import "components/base/Button";
@import "components/layout/Header";
@import "components/layout/Menu";
@import "components/forms/Form";
@import "components/forms/FormField";
@import "components/forms/IconSelectField";
@import "components/forms/MultiSelectField";
@import "components/forms/BooleanField";
@import "components/forms/InputField";
@import "components/forms/SelectField";

body {
	font-family: $font-primary;
}

.App .pages {
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
	max-width: 1200px;
	margin: 0 auto;
}
