table {
	width: 100%;
	margin: 40px 0;

	td,
	th {
		width: calc(100% / 7);
	}

	th {
		text-align: left;
		background-color: $blue;
		color: $highlight-text-color;
	}

	th {
		padding: 15px 30px 15px 0;
	}

	td {
		padding: 10px 30px 10px 0;

		&.BooleanCell {
			img {
				@extend .inline;
				width: 20px;
			}
		}

		.Button {
			button {
				padding: 7px 24px;
				font-size: 12px;
			}
		}

		&.correct {
			color: $correct-color;
		}
		&.neutral {
			color: $warning-color;
		}
		&.danger {
			color: $danger-color;
		}
	}

	th:first-child,
	td:first-child {
		padding-left: calc((100vw - #{$layout-wrapper-width}) / 2);
	}

	th:last-child,
	td:last-child {
		padding-right: calc((100vw - #{$layout-wrapper-width} - 20px) / 2);
	}

	td:last-child {
		text-align: left;
	}

	tr {
		&:nth-child(even) {
			background-color: $grey-light;
		}
	}

	&.highlightable {
		td,
		th {
			width: auto;
		}
		tr {
			cursor: pointer;
			&:hover {
				background-color: $correct-color;
				td {
					color: $highlight-text-color;

					.Percentage {
						color: $highlight-text-color;
					}

					button {
						background-color: $blue !important;
					}
				}
			}
		}
	}
}
