.DashboardStats {
	@extend .layout-wrapper;
	padding-top: $default-margin;
	border-top: 1px solid $grey-light;
	margin-top: $default-margin !important;
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
	justify-content: space-evenly;

	.card {
		padding: 20px;
		margin: 20px;
		position: relative;
		padding: $default-margin;
		box-shadow: 4px 4px 20px -2px rgba(0, 0, 0, 0.05);
		text-align: center;
		width: 285px;
		display: flex;
		align-items: center;
		justify-content: center;

		.content {
			display: flex;
			flex-direction: column;
			width: 100%;
			height: 100%;
			align-items: center;
			justify-content: space-evenly;
		}

		.matches {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			text-align: center;
			font-family: $font-body;
			font-size: 16px;
			line-height: 20px;
			margin-top: 15px;
			color: $correct-color;

			.number {
				font-weight: bold;
				font-size: 20px;
			}
		}

		h3 {
			font-weight: bold;
			text-align: center;
			font-size: 23px;
		}

		h4 {
			font-weight: bold;
			font-size: 26px;
			font-family: $font-body;
			color: $correct-color;
		}

		.PieChart {
			canvas {
				top: auto;
				left: auto;
				transform: none;
				position: relative;
			}
		}
	}
}
