.card-container {
	max-width: $layout-wrapper-width;
	margin: 50px auto;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
}

.Card {
	display: inline-block;
	width: calc(50% - 10px);
	margin-bottom: 20px;
	padding: $default-margin;
	box-shadow: 4px 4px 20px -2px rgba(0, 0, 0, 0.05);
	transition: transform 0.25s cubic-bezier(0, 0, 0.3, 1);
	cursor: pointer;

	&:hover {
		transform: scale(1.05);

		.Button {
			button {
				background-color: $blue;
			}
		}
	}

	.match {
		position: relative;
		height: 100%;
		display: inline-block;
		width: 33%;
		vertical-align: top;

		.Button {
			position: absolute;
			left: 0;
			bottom: 33px;
		}

		.info-block {
			width: 100%;
			display: block;
		}
	}

	.details {
		display: inline-block;
		width: 67%;
		vertical-align: top;
	}

	.info-block {
		display: inline-block;
		width: 50%;
		padding-bottom: $default-margin;

		label {
			display: block;
			margin-bottom: 10px;
		}
	}
}
