.overview {
	h1 {
		max-width: $layout-wrapper-width;
		margin: 40px auto;
	}

	.LoadMore {
		margin: 20px 0;
		text-align: center;
	}

	.table {
		overflow: auto;

		&.ExchangeOfferTable {
			thead th {
				background-color: $purple;
			}
		}

		&.ExchangeRequestTable {
			thead th {
				background-color: $pink;
			}
		}
	}
}
