.submenu-with-overviews {
	display: flex;
	align-items: flex-start;
	@extend .layout-wrapper;

	.submenu {
		width: 150px;

		h2 {
			margin-bottom: $default-margin;
			text-transform: none;
		}

		h3 {
			margin-bottom: $default-margin;
			cursor: pointer;

			&.active {
				font-weight: bold;
				color: $correct-color;
			}
		}
	}

	.overviews {
		width: calc(100% - 150px);

		.Overview {
			display: none;

			&.active {
				display: block;
			}
		}
	}

	&.faq {
		.submenu {
			width: 320px;
		}
		.overviews {
			width: calc(100% - 320px);
		}
	}
}
